<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Playground!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if Coherence.current_user(@conn) do %>
              <li><a class="btn btn-default">Signed in as <strong><%= Coherence.current_user_name(@conn) %></strong></a></li>
              <li><%= link "Sign out", class: "btn btn-primary", to: session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li><%= link "Sign in", class: "btn btn-primary", to: session_path(@conn, :new) %></li>
              <li><%= link "Register", class: "btn btn-primary", to: registration_path(@conn, :new) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="/">
          <h1 class="display-4">Elixir & Elm Playground</h1>
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div>
        <ul class="nav nav-pills">
          <li><%= link "Boards", class: "btn btn-default", to: board_path(@conn, :index) %></li>
          <li><%= link "Columns", class: "btn btn-default", to: column_path(@conn, :index) %></li>
          <li><%= link "Tasks", class: "btn btn-default", to: task_path(@conn, :index) %></li>
        </ul>
      </div>

      <hr />

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
