<h2>Show Board</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @board.name %>
  </li>

  <li>
    <strong>User ID:</strong>
    <%= @board.user_id %>
  </li>

</ul>

<span><%= link "Edit", to: board_path(@conn, :edit, @board) %></span>
<span><%= link "Back", to: board_path(@conn, :index) %></span>

<h2>Elm Board</h2>

<div id="elm-board-container"></div>